mysite/data/
social_web/env/
social_web/bookmarks/db.sqlite3
social_web/bookmarks/bookmarks/.env
social_web/bookmarks/media/
social_web/bookmarks/account/__pycache__/
social_web/bookmarks/account/migrations/__pycache__/
social_web/bookmarks/bookmarks/__pycache__/
social_web/bookmarks/images/__pycache__/
social_web/bookmarks/images/migrations/__pycache__/
social_web/bookmarks/common/__pycache__/
mysite/mysite/__pycache__/
mysite/blog/migrations/__pycache__/
mysite/blog/templatetags/__pycache__/
online_store/env/
online_store/myshop/db.sqlite3
online_store/myshop/products/
online_store/myshop/media/
online_store/myshop/myshop/.env
