{% extends 'shop/base.html' %}
{% load i18n %}
{% load static %}

{% block title %}
    {% translate '{{ product.title }}' %}
{% endblock %}

{% block content %}
    <div class="product-detail">
        <img src="{% if product.image %}{{ product.image.url }}{% else %}{% static 'img/no_image.png' %}{% endif %}">
        <h1>{% blocktranslate with name=product.name %}{{ name }}{% endblocktranslate %}</h1>
        <h2>
            <a href="{{ product.category.get_absolute_url }}">{% blocktranslate with name=product.name %}{{ name }}{% endblocktranslate %}</a>
        </h2>
        <p class="price">${{ product.price }}</p>
        <form action="{% url 'cart:cart_add' product_id=product.id %}" method="post">
            {{ cart_product_form }}
            {% csrf_token %}
            <input type="submit" value="{% translate 'Add to cart' %}">
        </form>
        {% blocktranslate with description=product.description|linebreaks %}
            {{ description }}
        {% endblocktranslate %}
    </div>
{% endblock %}