{% extends 'base.html' %}

{% block title %}Reset your password{% endblock %}

{% block content %}
  <h1>Reset your password</h1>
    {% if validlink %}
      <p>Please enter your password twice:</p>
      <form action="." method="post">
        {% csrf_token %}
        {{ form.as_p }}
        <input type="submit" value="Change my password">
      </form>
    {% else %}
      <p>Requested link is no longer available please make a new request to change password.</p>
    {% endif %}
{% endblock %}