{% load i18n %}
<html>
    <head>
        <meta http-equiv="Content-type" content="text/html; charset=utf-8" />
    </head>
    <body>
        <h1>{% translate 'My Shop' %}</h1>
        <p>
            {% blocktranslate with order_id=order.id created=order.created|date:"M d, Y" %}
                Invoice no. {{ order_id }}<br>
                <span class="secondary">
                    {{ created }}
                </span>
            {% endblocktranslate %}
        </p>
        <h3>{% translate 'Bill to' %}</h3>
        <p>
            {% blocktranslate with first_name=order.first_name last_name=order.last_name email=order.email address=order.address postal_code=order.postal_code city=order.city %}
                {{ first_name }} {{ last_name }}<br>
                {{ email }}<br>
                {{ address }}<br>
                {{ postal_code }}, {{ city }}
            {% endblocktranslate %}
        </p>

        <h3>{% translate 'Items bought' %}</h3>
        <table>
            <thead>
                <tr>
                    <td>{% translate 'Product' %}</td>
                    <td>{% translate 'Price' %}</td>
                    <td>{% translate 'Quantity' %}</td>
                    <td>{% translate 'Cost' %}</td>
                </tr>
            </thead>
            <tbody>
                {% for item in order.items.all %}
                    <tr class="row{% cycle '1' '2' %}">
                        <td>{% blocktranslate name=item.product.name %}{{ name }}{% endblocktranslate %}</td>
                        <td class="num">${{ item.price }}</td>
                        <td class="num">{{ item.quantity }}</td>
                        <td class="num">{{ item.get_cost }}</td>
                    </tr>
                {% endfor %}
                <tr class="total">
                    <td colspan="3">{% translate 'Total' %}</td>
                    <td class="num">{{ order.get_total_cost }}</td>
                </tr>
            </tbody>
        </table>
        <span class="{% if order.paid %}paid{% else %}pending{% endif %}">
            {% if order.paid %}{% translate 'Paid' %}{% else %}{% translate 'Pending payment' %}{% endif %}
        </span>
    </body>
</html>